body {
    font-family: "Poppins", sans-serif;
    background-color: #f3f3f3;
    color: #191a23;
    line-height: 1.7;
    margin: 0;
    padding: 0 10%;
}

header {
    text-align: center;
    background-color: #b9ff66;
    color: #191a23;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}

h1,
h2 {
    text-align: center;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

strong {
    color: #000;
}

em {
    color: #333;
    font-style: italic;
}

blockquote {
    background-color: #e6ffc2;
    padding: 1rem;
    border-left: 5px solid #b9ff66;
    font-style: italic;
    margin: 2rem 0;
}

q {
    quotes: "“" "”" "‘" "’";
    font-style: italic;
    color: #555;
}

ul,
ol {
    margin-left: 2rem;
}

address {
    margin-top: 3rem;
    font-style: normal;
    text-align: right;
    color: #555;
}

hr {
    border: 1px solid #ccc;
    margin: 2rem 0;
}

a {
    color: #191a23;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4b4b4b;
    text-decoration: underline;
}

figure {
    text-align: center;
    margin: 2rem 0;
}

figcaption {
    font-size: 0.9rem;
    color: #666;
}